.App {
  text-align: center;
}

.cells {
  display: flex;
  width: 600px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid red;
}

.cell {
  width: 70px;
  height: 70px;
  background: #ccc;
  margin: 10px;
  border: 1px solid #000;
  text-align: center;
  line-height: 70px;
  font-weight: 700;
}

.wrongCell {
  background: white;
  border: 1px solid white;
  color: white;
}

.found {
  background: forestgreen;
  color: white;
}